@font-face {
    font-family: HP001;
    font-weight: normal;
    src: url(/static/font/HP001N30.ttf);
}
@font-face {
    font-family: HP001;
    font-weight: bold;
    src: url(/static/font/HP001B30.ttf);
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img {
    max-width: 100%;
    max-height: 100%;
}

textarea
{
    width:100%;
    height: 100%;
    font-size:72pt;
    background-color: antiquewhite;
    
}
.textwrapper
{
    border:1px solid #999999;
    width: 70%;
    height: 100%;
}

p{
    margin: 0;
}

#result {
    padding-left: 14.4pt;
    padding-top: calc(14.4pt * 0.7);
    font-size: 72pt;
    font-family: HP001;
    line-height: calc(72pt + 14.4pt * 3);
    margin-top: 20px;
}

#result.bold {
    font-weight: bold;
}

.grid.italics {
    transform: skewX(-11deg);
}

#result>p:last-child::after{
    content: ' ';
    display: block;
    height: calc(14.4pt * 3);
}

#result.small{
    padding-top: calc(14.4pt *3.35);
    font-size: 37pt; /* to fit to the height of the line, might need to be reversed */
    line-height: calc(36pt + 14.4pt * 1.5);
}

#rulesformitem{
    display: flex;
    height: 200px;
    flex-direction: row;
    /* width: 70%; */
}


.formitem{
    margin-top: 50px;
    width: 100%;
    height: 30%;
}

.logo{
    text-align: center;
}

.option{
    /* border:1px solid #999999; */
    width: 30%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option div{
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-size-form{
    /* background-color: #999999; */
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.font-color-form{
    /* background-color: aquamarine; */
    width: 70%;
}   

.font-size-select{
    float: right;
}

.font-size-label{
    width: 20%;
}

.font-size-input{
    margin-left: 3%;
    width: 60%;
}

.font-size-select{
    width: 20%;
}

.font-color-input{
    float: right;
}

.board.black{
    color: white;
    background-image: linear-gradient(#496e53, #496e53)
}

.board.white{
    color: black;
    background-image: linear-gradient(#fff, #fff)
}

.grid {
    background-size: 
        calc(14.4pt * 4) calc(14.4pt * 4), 
        calc(14.4pt * 4) calc(14.4pt * 4), 
        14.4pt 14.4pt, 
        14.4pt 14.4pt;
    background-position: 14.4pt 28.8pt
} 

.black .grid {
    background-image:
      repeating-linear-gradient(#ccc 0 2px, transparent 2px 100%),
      repeating-linear-gradient(90deg, #ccc 0 2px, transparent 2px 100%),
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
}

.white .grid {
    background-image:
      repeating-linear-gradient(rgb(100, 100, 100) 0 1.5px, transparent 1.5px 100%),
      repeating-linear-gradient(90deg, rgb(100, 100, 100) 0 1.5px, transparent 1.5px 100%),
      repeating-linear-gradient(rgb(186, 186, 186) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, rgb(186, 186, 186) 0 1px, transparent 1px 100%);
}

p.line{
    position: relative;
}
p.line > div {
    user-select: none;
    position: absolute;
    left: 0;
    top: -16pt;
    font-size: 10pt;
    line-height: normal;
}

p.line > div > i:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}